<nav class="navbar">
  <div class="site-title">PowerAppMaker.dev</div>
  <div class="main-menu">
  <a class="nav-links {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
  <a class="nav-links {% if page.url == '/articles/' %}is-active{% endif %}" href="{{ "/articles/" | prepend: site.baseurl }}">Articles</a>
  <a class="nav-links {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
  </div>
</nav>
