/* ==========================================================================
   CSS Grid Layout
   ========================================================================== */

* {
  box-sizing: border-box;
}

.header {
  grid-area: header;
  background-color: #673ab7;
}
.nav {
  grid-area: nav;
  height: 60px;
  background-color: #673ab7;
}
.sidebar {
  grid-area: sidebar;
  border: 1px solid #ddd;
}
.content {
  grid-area: content;
  border: 1px solid #ddd;
}

.footer {
  grid-area: footer;
  background-color: #ddd;
}

.wrapper {
  min-height: 100vh;
  max-width: 96vw; /* Limits the width to 96% of the width of the viewport */
  margin: 0 auto; /* Horizontally centers the container */
  display: grid;
  gap: 20px;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr; /* Define a default single column layout */
  grid-template-areas:
    "nav"
    "content"
    "sidebar"
    "footer";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr; /* Update the column layout for wider screens */
    grid-template-areas:
      "nav nav"
      "sidebar content"
      "footer footer";
  }
}

@media (min-width: 700px) {
  .wrapper {
    justify-content: center;
    grid-template-columns: 1fr 4fr 1fr; /* Update column layout for even wider screens */
    grid-template-areas:
      "nav nav nav"
      "sidebar content content"
      "footer footer footer";
  }
}
