/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
  display: flex;
  margin-top: 2.5rem;
  padding-top: 3rem; // 75px
  padding-bottom: 3rem; // 75px
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  background: $t-theme;
  border-radius: 5px;
}

.c-header__title {
  position: relative;
  @include ff--mono(500);
  @include fs--title;
  color: $c__white;

  &:after {
    margin-left: 0.5rem;
    color: rgba(#fff, 0.5);
    content: "¬";
  }

  span {
    color: rgba(#fff, 0.5);
  }
}
