/* ==========================================================================
   Navigation
   ========================================================================== */

.navbar {
  display: grid;
  align-items: center;
  justify-self: start;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "site-title main-menu main-menu main-menu";
  height: 100%;
}
@media (max-width: 700px) {
  .navbar {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
}

.site-title {
  grid-area: site-title;
  @include fs--title;
  color: $c__white;
  padding-left: 3.5rem;
}

.main-menu {
  grid-area: main-menu;
  padding-left: 3.5rem;
}
.nav-links {
  margin-right: 1.5rem;
  @include ff--mono(500);
  @include fs--nav;
  color: $c__white;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links:hover {
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid $c__white;
}

.push {
  margin-left: auto;
}
