<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A personal blog for Microsoft Power App Platform and SharePoint newbies. Tutorials, tips and guides for those new to low code development">
        <meta name="keywords" content="Power Apps, Power App Platform, SharePoint, low code development, no code development, beginners guide, tutorials, blog, learn Power Apps, learn SharePoint">
        <title>Power App Maker - A Low Code/No Code Blog for Newbies</title>
        <link
        href="https://fonts.googleapis.com/css?family=Noto+Display:400,400italic,700|Noto+Display+Mono:400,500"
        rel="stylesheet"
        type="text/css"
      />
      <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="/css/main.css" />
      <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    </head>
  <body>
    <div class="wrapper">
      <div class="nav">
        {% include navigation.html %}
        </div>
        <div class="sidebar">{% include sidebar.html %}</div>
          <article>
            <div class="c-article__main">{{ content }}</div>
          </article>
        <div class="footer c-footer">
          {% include footer.html %}</div>
      </div>
    </div>
  </body>
</html>